/* Chomba.live */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --lightTxt: #aaa;
  --strongTxt: #333;
  --mainAccent: #fe4300;
}

body, html {
  min-width: 100%;
  min-height: 100vh;
  /* color: #fff; */
}






/* general styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
a {
  text-decoration: none;
}
.pd-16 {
  padding: 16px;
}
ul li {
  list-style-type: none;
}
.container-ya-app {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  margin: auto;
  background-color: #fff;
}
.flex-box-lxt {
  display: flex;
}
.flex-box-lxt li  {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 700;
}

.link-ya-tab {
  font-size: .9rem;
  color: var(--lightTxt);
}
.link-ya-tab:hover {
  color: var(--strongTxt);
}
.active-tab {
  font-size: 1.2rem;
  position: relative;
  color: var(--strongTxt);
}
.active-tab::after {
  width: 40px;
  height: 5px;
  background-color: var(--mainAccent);
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 6px;
}
.ma-movies-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 16px; */

}
.movie-imozi {
    width: 47%;
    height: 200px;
    margin-left: 1.5%;
    margin-top: 2.5%;
    border-radius: 6px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 6px;
    background-color: #fff;
    cursor: pointer;

}

.poster-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
  
}
.poster-img img {
  width: 100%;
}
.movie-info-brief {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.lxt-footer {
  text-align: center;
  padding: 32px;
  font-size: .7rem;
  color: #aaa;
  text-transform: uppercase;
  color: var(--mainAccent);

}
.lxt-footer a {
  color: var(--mainAccent);
}

.hero-section {
  width: 100%;
  min-height: 40vh;
}

.menu-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lavender;
}

.hero-section {
  background-size: cover;
  background-position: center;
  background-image: url("https://chomba.live/cdn/random/home.jpg");
}



.header-bar  {
  background-color: #fe4300;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content:space-between ;
}
.app-title {
  color: #e9e9e9;
}
.search-inpt {
  padding: 9px;
}